.imagem_exemplo{
    width: 100%;
    height: 55.37vh;
    cursor: pointer;
}

section{
    background-color: #F7EBE4;
    height: auto;
}
.cartegorias{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 6vh;
    margin-bottom: 6vh;
}
.caixa:hover{
    background-color: #892227;
    transition: 0.5s;
}
.caixa span:hover{
    color: #FFFFFF;
    transition: 0.5s;
}
.caixa{
    display: grid;
    grid-template-columns: auto;
    width: 13.15vw;
    text-decoration: none;

    height: 9.36vh;
    background: #FFFFFF;
    border-radius: 2.3vh;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 
.caixa span{
    font-family: 'Alef';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2.27vw,2.1vw,2.67vw);
    line-height: 7.46vh;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
    margin-bottom: 7vh;
}
.titulo span{
    width:  32.77vw;
    
    font-family: 'Alef';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(3.74vw,3.3vw, 4.14vw);
    line-height: 11.61vh;
    text-align: center;
    color: #000000;
    
    text-shadow: 0px 0.26vw 0.26vw rgba(0, 0, 0, 0.15);
}
.linha{
    width: 21.1vw;
    height: 0;
    border: 0.13vw solid rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0.26vw 0.26vw rgba(0, 0, 0, 0.15);
    background-color: black;
}

.carrossel{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

}
.container_produtos{
    display: flex;
    width: 16.52vw;
    height: 42.31vh;
    background: #FFFFFF;
    box-shadow: 0px 0.26vw 0.26vw rgb(0 0 0 / 25%);
    backdrop-filter: blur(0.26vw);
    border-radius: 2.74vw;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.img_produto {
    width: 10.05vw;
    height: 19.42vh;
}
.container_produtos span{
    font-family: 'Alef';
    font-style: normal;
    font-size: clamp(1.53vw,1.53vw,1.93vw);
    line-height:  5.39vh;
}
.preco{
    display: flex;
    width: 11.89vw;
}
.preco .valor{
    color: #6F2727;
    font-weight: 700;
    margin-left: 1vw;
    font-size: clamp(1.73vw,1.684vw,2.14vw);
}
.adicionar{
    width: 9.7vw;
    height: 5.9vh;
    background: #4BAE4F;
    box-shadow: 0 0.26vw 0.26vw rgba(0, 0, 0, 0.25);
    border-radius: 1.13vw;
    font-family: 'Alef';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1.53vw,1.53vw,1.93vw);
    line-height:  5.39vh;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}
.seta_direira{
    cursor: pointer;
    width: 2.5vw;
}
.seta_esquerda{
    cursor: pointer;
    width: 2.5vw;
}

.exemplo_premiado{
    width: 100%;
    height: 49vh;
    margin-top: 16.3vh;
    cursor: pointer;
}
@media (max-width: 765px){
    .caixa {
        display: grid;
        grid-template-columns: auto;
        width: 21.15vw;
        height: 6.36vh;
    }
    .caixa span{
        font-size: clamp(3.27vw,2.1vw,2.67vw)
    }
    .titulo span {
      font-size: clamp(4.74vw,3.3vw, 4.14vw);
    }
    .linha{
        width: 30.1vw;
    }
    .exemplo_premiado{
        height: 25vh;
    }
    .container_produtos {
        display: flex;
        width: 20.52vw;
        height: 21.31vh;
    }
    .adicionar {
        width: 9.7vw;
        height: 5.9vh;
        font-size: clamp(1.53vw,1.53vw,1.93vw);
        line-height: 2.39vh;
        margin-bottom: 1vh;
    }
    .cartegorias{
        margin-bottom: 0vh;
    }
    .titulo{
        margin-bottom: 0vh;
        margin-top: 0vh;
    }
    .container_produtos span {
        font-size: clamp(2.2vw,1.53vw,1.93vw);
    }

    .container span{
        font-size: 1.5rem;
    }
    .botoes_topo img {
        width: 10.26vw;
    }
    .botoes_topo span {
        font-size: 0.5rem;
    }

    .imagem_exemplo {
        height: 20.37vh;
    }
}